---
http_interactions:
- request:
    method: get
    uri: http://www.xeno-canto.org/api/2/recordings?query=box:15,-96,15.2,-90
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"numRecordings":"8","numSpecies":"7","page":1,"numPages":1,"recordings":[{"id":"216519","gen":"Columbina","sp":"inca","ssp":"","en":"Inca
        Dove","rec":"Max Noack","cnt":"Guatemala","loc":"Finca Santo Tom\u00e1s, Baja
        Verapaz","lat":"15.19","lng":"-90.2958","type":"song","file":"http:\/\/www.xeno-canto.org\/216519\/download","lic":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/4.0\/","url":"http:\/\/www.xeno-canto.org\/216519","q":"B"},{"id":"31692","gen":"Aspatha","sp":"gularis","ssp":"","en":"Blue-throated
        Motmot","rec":"Nick Athanas","cnt":"Mexico","loc":"South slope of Volc\u00e1n
        Tacan\u00e1, Chiapas","lat":"15.0981","lng":"-92.0806","type":"agitated calls","file":"http:\/\/www.xeno-canto.org\/31692\/download","lic":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/3.0\/","url":"http:\/\/www.xeno-canto.org\/31692","q":"A"},{"id":"31691","gen":"Aspatha","sp":"[...]
